{% extends "blog/base.html" %}

{% block content%}

<style type="text/css">
      body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  margin-top: 5rem;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.h1
{
        color: lightgray;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8rem;
}

.about-section {
  padding: 40px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;

}

.title {
  color: grey;
}

.button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button1:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>



        <div class="about-section">
          <h1  style="color:#fff">About Us Page</h1>

        </div>
        <br><br>
        <div>
        <h2 align="center">HappyWrite Website</h2>
          <p align="center">A Fully Featured Django Web App</p>




        </div>

            <div class="card row no-gutters">
              <img class="card-img-top img-fluid" src="/media/ceo.jpg" alt="Thaneesh" width="500" >
              <div class="container">
                <h2>Thaneesh Reddy</h2>
                <p class="title">CEO & Founder</p>
                <p>Learning is fun</p>
                <p>happywriteofficail@gmail.com</p>
                <p><a href="https://www.linkedin.com/in/thaneesh-reddy-15b4b3169/" class="button1">Contact</a></p>
              </div>
        </div>




{% endblock content %}
