{% extends "blog/base.html" %}

{% block content%}

<style type="text/css">
.about-section {
  padding: 40px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.card {
  flex-direction: row;
  align-items: center;
}
.card-title {
  font-weight: bold;
  color: grey;
}
.card img {
  width: 30%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}
@media only screen and (max-width: 768px) {

  .card-body {
    padding: 0.5em 1.2em;
  }
  .card-body .card-text {
    margin: 0;
  }
  .card img {
    width: 50%;
  }
}



.button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button1:hover {
  background-color: #555;
}
@media only screen and (max-width: 1200px) {
  .card img {
    width: 40%;
  }
}

</style>



        <div class="about-section">
          <h1 style="color:white" >About Us Page</h1>

        </div>
        <br><br>
        <div>
        <h2 align="center">HappyWrite Website</h2>
          <p align="center">A Fully Featured Django Web App</p>




        </div>

            <div class="card ">
              <img class="card-img-top img-fluid" src="/media/ceo.jpg" alt="Thaneesh" width="500" >
              <div class="card-body">
                <h2>Thaneesh Reddy</h2>
                <p class="card-title">CEO & Founder</p>
                <p class="card-text">Learning is Fun</p>
                <p>happywriteofficail@gmail.com</p>
                <p><a href="https://www.linkedin.com/in/thaneesh-reddy-15b4b3169/" class="button1">Contact</a></p>
              </div>
        </div>




{% endblock content %}
